# Curation worker requirements
annotated-types
anyio
certifi
h11
httpcore
httpx
idna
json-log-formatter
pydantic
pydantic-core
python-dotenv
redis
tenacity
typing-extensions
typing-inspection
bcrypt
pyjwt
cryptography
sqlite-utils
aiohttp
beautifulsoup4
fastapi
uvicorn
toml
lightrag-hku
psutil
prometheus_client
passlib
sqlalchemy
psycopg2-binary
PyJWT
bcrypt
langchain-qdrant
